/* This is a CSS File */
/* This is where you will write your CSS code to style your website */

/* Site */
* {
  padding: 10px;
  background-color: #f7f3f1;
}

/* Body */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  font-family: Arial, sans-serif;
}

/* Header */
h1 {
  font-size: 36px;
  color: #1f1f1f;
  text-align: center;
}

/* Paragraph */
p {
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 0;
}

/* Links */
a {
  color: #0366d6;
  text-decoration: none;
}

/* Images */
img {
  width: 50%;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 4px;
}

.my-oList {
  list-style: square;
  color: #ff0000;
}

.my-uList {
  list-style: lower-roman;
  color: blue;
}

.my-table {
  border-collapse: collapse;
}

.my-table th {
  background-color: gray;
  color: white;
}

.my-table td,
.my-table th {
  padding: 5px;
  border: 1px solid black;
}

/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Table Headers */
th,
td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

/* Table Rows */
th {
  background-color: #f2f2f2;
}

/* Table Rows */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* List Items */
li {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

/* Ordered Lists */
ol {
  margin: 0;
  padding: 0;
}

/* Ordered List Items */
ol li {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}
